table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #b8b8b8
}

.counter td {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.counter tr:nth-child(odd) {
    background-color: #c7cbea;
}